{% extends 'base.html' %}

{% block content %}

    <main>
        <div id="content">
            <div class="innertube">
                <h1>Welcome to your online task tracker!</h1><hr>

                    {% if not current_user.is_authenticated %}
                        <p><a href="{{ url_for('login') }}">Login</a></p>

                        <p>New user? <a href="{{ url_for('userRegistration') }}">Click Here to Register</a></p>
                    {% endif %}

                    <p>Want to make sure your organization is registered? <a href="{{ url_for('organizationBrowse') }}">Check Here</a></p>

                    <p>Need to register your organization? <a href="{{ url_for('organizationRegistration') }}">Click Here</a></p>
            </div> 
        </div>
    </main>

{% endblock %}