{% extends 'base.html' %}

{% block content %}

    <main>
        <div id="content">
            <div class="innertube">
                <h1>Current Members of {{ org.name }}</h1><hr>
                    <table>
                        <tr>
                            <th>Username  </th>
                            {% if form %} <!-- form only passed to organization admins viewing page -->
                            <th>  User ID  </th>
                            <th>  Current Admin  </th>
                            {% endif %}
                        </tr>

                        {% for member in memberAdminList %}
                            <tr>
                                <td><a href="{{ url_for('userProfile', username=member[0].username) }}">{{ member[0].username }}  </a></td>
                                {% if form %}
                                <td>  {{ member[0].id }}  </td> <!--list member IDs for current admin to input in form below to make new admins-->
                                <td>  {{ member[1] }}  </td> <!--current admin True/False-->
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>

                    {% if form %}
                    <form actions="", method="post">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.newAdminUserId.label }}<br>
                            {{ form.newAdminUserId(size=32) }}<br>
                            {% for error in form.newAdminUserId.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </p>

                        <p>{{ form.submit() }}</p>
                    </form>
                    {% endif %}
                    
            </div>
        </div>
    </main>

{% endblock %}